# 1. Abra o arquivo preferencias.csv como um dataframe chamado pref.

1. Abra o arquivo preferencias.csv como um dataframe chamado 
pref.

In [1]:
import pandas as pd

In [3]:
pref = pd.read_csv('preferencias.csv')
pref

,Favorite Color,Favorite Music Genre,Favorite Beverage,Favorite Soft Drink,Gender
0,Cool,Rock,Vodka,7UP/Sprite,F
1,Neutral,Hip hop,Vodka,Coca Cola/Pepsi,F
2,Warm,Rock,Wine,Coca Cola/Pepsi,F
3,Warm,Folk/Traditional,Whiskey,Fanta,F
4,Cool,Rock,Vodka,Coca Cola/Pepsi,F
...,...,...,...,...,...
61,Cool,Rock,Vodka,Coca Cola/Pepsi,M
62,Cool,Hip hop,Beer,Coca Cola/Pepsi,M
63,Neutral,Hip hop,Doesn't drink,Fanta,M
64,Cool,Rock,Wine,Coca Cola/Pepsi,M
65,Cool,Electronic,Beer,Coca Cola/Pepsi,M

In [12]:
pref.rename (
    columns={
        'Favorite Color':'favoriteColor',
        'Favorite Music Genre':'favoriteMusicGenre',
        'Favorite Beverage':'favoriteBeverage',
        'Favorite Soft Drink':'favoriteSoftDrink',
        'Gender':'gender'
    },inplace=True
)

pref

   favoriteColor favoriteMusicGenre favoriteBeverage favoriteSoftDrink gender
0           Cool               Rock            Vodka        7UP/Sprite      F
1        Neutral            Hip hop            Vodka   Coca Cola/Pepsi      F
2           Warm               Rock             Wine   Coca Cola/Pepsi      F
3           Warm   Folk/Traditional          Whiskey             Fanta      F
4           Cool               Rock            Vodka   Coca Cola/Pepsi      F
..           ...                ...              ...               ...    ...
61          Cool               Rock            Vodka   Coca Cola/Pepsi      M
62          Cool            Hip hop             Beer   Coca Cola/Pepsi      M
63       Neutral            Hip hop    Doesn't drink             Fanta      M
64          Cool               Rock             Wine   Coca Cola/Pepsi      M
65          Cool         Electronic             Beer   Coca Cola/Pepsi      M

[66 rows x 5 columns]

3. Agrupe os dados pela variável Gender (gênero).
00

In [14]:
pref.groupby('gender') ## Agrupando pela variável Gender

{'F': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32], 'M': [33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65]}

In [16]:
pref.groupby('gender').groups ## Visualizando os Grupos

{'F': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32], 'M': [33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65]}

In [17]:
pref.groupby('gender').count()

        favoriteColor  favoriteMusicGenre  favoriteBeverage  favoriteSoftDrink
gender
F                  33                  33                33                 33
M                  33                  33                33                 33

In [19]:
pref.groupby(['gender','favoriteColor']).count()

                      favoriteMusicGenre  favoriteBeverage  favoriteSoftDrink
gender favoriteColor
F      Cool                           17                17                 17
       Neutral                         3                 3                  3
       Warm                           13                13                 13
M      Cool                           20                20                 20
       Neutral                         4                 4                  4
       Warm                            9                 9                  9

In [20]:
pref.groupby(['gender'=="F",'favoriteColor']).count()

KeyError: False